
.brandlogo{
    width:50px;
    height:50px;
}
#main div:nth-child(even){
    padding: 1px;
    background-color: rgb(161, 223, 241);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main div:nth-child(odd){
    padding: 1px;
    background-color: white;
    color:rgb(161, 223, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}
#main div{
    font-size: large;
}
#categorymain #incomecategory h4:nth-child(even){
    padding: 1px;
    background-color: rgb(161, 223, 241);
    color:white;
    display: flex;
    justify-content: center;
}
#categorymain #incomecategory h4:nth-child(odd){
    padding: 1px;
    background-color: rgb(179, 174, 174);
    color:rgb(135, 181, 194);
    display: flex;
    justify-content: center;
}
#categorymain #expenditurecategory h4:nth-child(even){
    padding: 1px;
    background-color: rgb(161, 223, 241);
    color:white;
    display: flex;
    justify-content: center;
}
#categorymain #expenditurecategory h4:nth-child(odd){
    padding: 1px;
    background-color: rgb(179, 174, 174);
    color:rgb(135, 181, 194);
    display: flex;
    justify-content: center;
}